{% extends "base.html.twig" %}
{% block title %}{{ h1 }}{% endblock %}
{% block body %}

<div class="banner"><h1 class="content">{{ h1 }}</h1></div>

<form name="entryForm" class="content edit-form">
    <div class="field-group entry-name">
        <input type="text" id="name" name="name" value="{{entry.name}}" placeholder="Entry Name">        
    </div>

    <div class="tablabel">Entry Type</div>
    <div class="tab">
        <button type="button" class="tablinks" data-tab="tab-event">Event</button>
        <button type="button" class="tablinks" data-tab="tab-person">Person</button>
        <button type="button" class="tablinks" data-tab="tab-place">Place</button>
        <button type="button" class="tablinks" data-tab="tab-thing">Thing</button>
    </div>

    <div class="field-group">
        <label for="tags" title="Separate tags with a comma. Use tags to categorize entries within or across Types. Tags for a Person might be Friend or Family, while To Do can tag entries of any Type that need work." class="helper">Tags</label>
        <input type="text" name="tags" id="tags" value="{{entry.tags|join(',')}}" class="tags-input">        
    </div>

    <!-- Tab content -->
    <div id="tab-event" class="tabcontent">
        <div class="row">            
            <div class="field-group field-date col-3">
                <label for="startDate">Start Date</label>
                <input type="text" size="10" id="startDate" value="{{entry.start is empty ? "" : entry.start|date('Y-m-d')}}" name="startDate">        
            </div>
            <div class="field-group field-date col-9">
                <label for="endDate">End Date</label>
                <input type="text" size="10" id="endDate" value="{{entry.end is empty ? "" : entry.end|date('Y-m-d')}}" name="endDate">
            </div>
        </div>
    </div>

    <div id="tab-person" class="tabcontent">
    </div>

    <div id="tab-place" class="tabcontent">
        <div class="field-group">
            <label for="address" title="Enter an address as a single line as you would in Google Maps. You can also enter coordinates such as 48.85391,2.2913515. Click `Show Map` to test." class="helper">Address</label>
            <div style="display: flex;">
                <input type="text" class="entry-address" id="address" name="address" value="{{entry.address}}">
                <a class="btn-link show-map" href="javascript:window.open('https://www.google.com/maps/place/'+encodeURI(document.entryForm.address.value, '_blank'))">Show Map</a>
            </div>
        </div>
    </div>

    <div id="tab-thing" class="tabcontent"></div>

    <div class="field-group" style="margin-top:2rem;">
        <label title="Write about this topic here. The editor supports <a href='https://www.markdownguide.org/cheat-sheet/' target='_blank'>Markdown</a> for formatting and links." class="helper">Description</label>
        <div id="description">{{entry.description|raw}}</div>
    </div>

    <div>
        <div id="file-manager-list" class="reorder">
            <div id="reorder-item-last" class="reorder-item"></div>
        </div>
        <div class="row" id="file-manager-add">
            <div class="col-6">
                <div class="field-group">
                    <label for="label_#" title="Give the file a friendly display name." class="help-label">Name <img src="/images/help.png"></label>
                    <input type="text" size="10" id="new-file-name" name="new-file-name">        
                </div>
            </div>
            <div class="col-4">
                <div class="field-group">
                    <label for="new_file" class="help-label">File</label>
                    <input type="file" class="file-input" name="new-file" id="new-file" value=""/>        
                </div>
            </div>
            <div class="col-2">
                <div class="field-group" style="text-align: right">
                    <label>&nbsp;</label>
                    <button id="file-manager-upload" type="button">Add</button>
                    <input name="upload[]" type="file" multiple="multiple" />
                </div>
            </div>
        </div>
    </div>

    <div id="file-manager-edit-template">
        <div class="row file-manager-edit reorder-item" id="file-manager-edit-#" draggable="true">
            <div class="col-1 reorder-handle">
                <span style="font-size:24px">&#8691;</span>
                <input type="hidden" class="file-index" id="file-index-#" name="file-index-#" value="">
            </div>
            <div class="col-6">
                <div class="field-group">
                    <label for="label-#">Name</label>
                    <input type="text" size="10" id="file-name-#" name="file-name-#" value="">        
                </div>
            </div>
            <div class="col-4">
                <div class="field-group">
                    <label for="file-#" class="help-label">File</label>
                    <a id="file-link-#" href="#">file-name.ext</a>        
                </div>
            </div>
            <div class="col-1">
                <div class="field-group" style="text-align: right">
                    <label>&nbsp;</label>
                    <button id="delete-file-#">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group" style="min-height: 100px;">
        <a class="btn" href="#">Save</a>
        <a class="btn" href="#">Save &amp; View</a>
        <a class="btn-link" href="javascript:if (confirm('Are you sure you want to discard your changes?')) history.back();">Cancel</a>
    </div>

</form>

<!-- Tabs -->
<script type="module">
import { setupTabs, openTab } from '/js/tabs.js';
// initialize tabs
setupTabs();
// open default tab
openTab('tab-{{ entry.type.get() }}');
</script>

<!-- Help -->
<script type="module">
import { setupHelp } from '/js/help.js';
setupHelp(); // decorates labels with help text
</script>

<!-- Tags -->
<script src="/js/vendor/tagify.min.js"></script>
<script>
// https://github.com/yairEO/tagify
var tagify = new Tagify(document.getElementById('tags'));
</script>

<!-- Ace editor -->
<script src="/js/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    window.onload = function() {
        var editor = ace.edit("description");
        editor.setTheme("ace/theme/chrome");
        editor.setOptions({
            showGutter: false,
            wrap: true,
            fontSize: 15,
            maxLines: Infinity,
            showPrintMargin: false
        });
        editor.session.setMode("ace/mode/markdown");
    };
</script>

<!-- Date Picker -->
<script src="/js/util.js"></script>
<script src="/js/vendor/datepicker.min.js"></script>
<script>
// https://www.npmjs.com/package/js-datepicker
let pickerOptions = {
    id: 1,
    formatter: (input, date, instance) => {
        input.value = shortISO(date);
    }
};
const startPicker = datepicker('#startDate', pickerOptions);
const endPicker = datepicker('#endDate', pickerOptions);
</script>

<!-- File Manager -->
<script src="/js/reorder.js"></script>
<script type="module">
// setup file management
import { FileManager } from '/js/filemanager.js';
let fileManager = new FileManager([
    {% for att in entry.attachments %}
        {name: "{{att.name}}", slug: "{{att.slug}}", extension: "{{att.extension}}", url: "{{att.uri}}" },
    {% endfor %}
]);
</script>


{% endblock %}